/* homepage*/
.header{ 
    font-family: 'Unica One','Ubuntu','Sans-serif';
     font-size: 40px; 
     text-decoration: none;
     background-color: #D3E3E3;
     background:#D3E3E3;
     color:black;
     margin-right: 10px;
     margin-left: 10px;
    background-position:center;
    padding-right: 814px;
    padding-left: 100px;
    padding-inline: 50px;
    position:fixed;
    scroll-behavior: auto;
}

.bergen-home{
    background-image: url(../images/bergen-home.jpg);
    min-height: 950px;
    background-position-x: right;
    background-position-y: bottom;
    background-repeat: no-repeat;
    background-size: cover;
}
.container {
    position: relative;
  text-align: center;
  color: white;
}
  .centered {
    position: absolute;
    top: 40%;
    left: 40%;
    transform: translate(-50%, -50%);
  }
  
.cta{
    background-color: transparent;
    color: #1c232d;
    text-decoration: none;
    
}
h1{
    font-family: 'Unica One','Ubuntu','Sans-serif';
   font-size: 100px;
   letter-spacing: 20px;
   padding-top: 200px;
   position:relative;
   color: whitesmoke;
   background-color: transparent;
}
.container-bottom {
    position: relative;
    text-align: center;
    color:#D3E3E3;
  }
  .bottom-left {
    position:relative;
}
h2{
    font-family: 'Unica One','Ubuntu','Sans-serif';
    font-size: 50px;
    text-decoration: underline;
    color:#1c232d;
    background-color:transparent;
    padding-bottom: 80px;
    padding-top: 20px;
    background-size: cover;
}
h3{font-family: 'Ubuntu','Sans-serif';
    font-size: medium;
    background-image:url("../images/rainyday\ pages-header.jpg");
    background-size: cover;
    padding-top: 20px;
    padding-bottom: 20px;
    
}
p{
    font-family: 'Ubuntu','Sans-serif';
}
.product-list{
    font-family: 'Unicaone','ubuntu','sans-serif';
    font-size: 80px;
    text-decoration: none;
    color: #1c232d;
    image-rendering: block;
    

}