header{ 
    background-image: image("../images/bergen-home.jpg");
    height: 300px;
    width: 300px;
    object-fit: cover;
    object-position: top; 
}
h1{
    
    font-size: larger;
}
h3{
    background-image: image("../images/rainyday pages-header.jpg");
}