/* homepage*/
body{
    font-family: 'Ubuntu',sans-serif;
}
.header{ 
    font-family: 'Unica One','Ubuntu','Sans-serif';
     font-size: 40px; 
     text-decoration: none;
     background:(#D3E3E3);
     background:-webkit-linear-gradient(90deg,rgba(227,227,227,0) 0%,rgba(211,227,227,1) 35%, rgba(211,227,227,1) 100%);
     color:#1c232d;
     width: 100%;
    padding:10px 10px 10px 140px;
    border-top: 50px;
    border-bottom: 150px;
    position:fixed;
    top:0;
    z-index: 1;
    
}
.fa-cart-shopping{
    background-color: transparent;
    color: #1c232d;
    text-decoration: none;
    text-align: center;
    padding:20px 20px 20px 20px ;
    display: inline-block;
    display:-webkit-inline-box;
    zoom:1;
    width: 16.666%
}

.bergen-home{
    background-image: url(../images/bergen-home.jpg);
    min-height: 950px;
    background-position-x: right;
    background-position-y: bottom;
    background-repeat: no-repeat;
    background-size: cover;
}
.container {
    position: relative;
   text-align: center;
  color: white;
  
}
  .centered {
    position: absolute;
    top: 25%;
    left: 40%;
    transform: translate(-50%, -50%);
  }
  
.cta{
    background-color: transparent;
    color: #1c232d;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    display:-webkit-inline-box;
    zoom:1;
    width: 16.666%

    
}
h1{
    font-family: 'Unica One','Ubuntu','Sans-serif';
   font-size: 100px;
   letter-spacing: 20px;
   padding-top: 200px;
   position:relative;
   left:0%;
   color: whitesmoke;
   background-color: transparent;
   z-index: 0;
   
}
.container{
    position: relative;
    text-align: center;
    color:#d6dfdf;
}
  .bottom-left{
    position:absolute;
    background-color: #D3E3E3;
    top:20%;
    left: 40%;
    transform: translate(-50%, -50%);
  }
h2{
    font-family: 'Unica One','Ubuntu','Sans-serif';
    font-size: 50px;
    text-decoration: underline;
    color:#1c232d;
    padding-bottom: 80px;
    padding-top: 20px;
    background-size: cover;
}
h3{font-family: 'Ubuntu','Sans-serif';
    font-size: 40px;
    background-image:url("../images/rainyday\ pages-header.jpg");
    background-size:cover;
    background-position:50% 30%;
    padding-left: 50%;
    padding-top: 20px;
    padding-bottom: 20px;  
}
p{
    font-family: 'Ubuntu','Sans-serif';
    font-size: 40px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 5%;

}
.topic{
    margin-bottom: 5%;
    padding-left: 70px;
}
/*jackets*/
.happy-menu{
    width:max-content;
    height:max-content;
}
.product-list{
    font-family: 'UnicaOne','ubuntu','sans-serif';
    font-size: 40px;
    text-decoration: underline;
    color: #1c232d;
    text-align:left;
    image-rendering:inherit
    width: fit-content;
    max-height:fit-content;
}
.lightweight-woman{
    max-height: 30%;
    max-width: 30%;
}
.motorcycle{
    max-height: 30%;
    max-width: 30%;
}
.casual{
    max-height: 30%;
    max-width: 30%;
}
.midlayer{
    max-height: 30%;
    max-width: 30%;   
}
.umbrella{
    max-height: 25%;
    max-width: 25%;  
}
/*about*/
.item{
    margin: 10px;
    max-width: fit-content;
    padding: 10px;
}
.floated{
    float: right;
}
